# 리스트

In [5]:
lst = [10, 20, 30]
print(lst, type(lst))

[10, 20, 30] <class 'list'>

In [6]:
list(['java', 'python','R'])

['java', 'python', 'R']

In [8]:
print(list(range(5)))
print(list(range(1,10,2)))

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]

In [10]:
lst = [1, 3.92, 3 > 4, 'list']
print(lst[0], lst[2])

1 False

In [14]:
lst[2:4]

[False, 'list']

In [15]:
print(lst[2:])
print(lst[:4])
print(lst[-1:-4:-1])

[False, 'list']
[1, 3.92, False, 'list']
['list', False, 3.92]

In [37]:
import math as m
a = [m.pi, 30, 10 > 4, 'list', lambda x: x**3]
a.append('py')
a

[3.141592653589793, 30, True, 'list', <function __main__.<lambda>(x)>, 'py']

In [38]:
def add2(x,y):
    return x +y

a.insert(1,add2)
a[1](10,20)

30

In [39]:
a

[3.141592653589793,
 <function __main__.add2(x, y)>,
 30,
 True,
 'list',
 <function __main__.<lambda>(x)>,
 'py']

In [40]:
a.remove(30)
a

[3.141592653589793,
 <function __main__.add2(x, y)>,
 True,
 'list',
 <function __main__.<lambda>(x)>,
 'py']

In [41]:
a.pop()

'py'

In [42]:
a

[3.141592653589793,
 <function __main__.add2(x, y)>,
 True,
 'list',
 <function __main__.<lambda>(x)>]

In [43]:
my_list = [x for x in range(10)]
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
[x for x in range(10) if x%2 ==1]

[1, 3, 5, 7, 9]

In [45]:
['even' if i%2 == 0 else 'odd' for i in range(1, 11)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [46]:
[[i for j in range(5)] for i in range(3)]

[[0, 0, 0, 0, 0], [1, 1, 1, 1, 1], [2, 2, 2, 2, 2]]

In [47]:
[[j for j in range(i, i+6)] for i in range(3)]

[[0, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [2, 3, 4, 5, 6, 7]]

# 사전

In [48]:
mart = {'라면':1200, '음류수':1500, '과자':800}
print(mart, type(mart))

{'라면': 1200, '음류수': 1500, '과자': 800} <class 'dict'>

In [49]:
print(mart['라면'])
print(mart['과자'])
print(mart['음류수'])

1200
800
1500

In [52]:
data = {1: '일', 3.14: 2.71, (1,2): '튜플', 'list':[1,2,3]} #list형, set, dict는 키가 될 수 없다.
data

{1: '일', 3.14: 2.71, (1, 2): '튜플', 'list': [1, 2, 3]}

In [53]:
f_cnt = dict((('apple', 2), ('banana=300',5), ('orange', 3)))
f_cnt

{'apple': 2, 'banana=300': 5, 'orange': 3}

In [55]:
f_price = dict(apple=4000, banana=300, orange=2000) #dict 내장함수
f_price

{'apple': 4000, 'banana': 300, 'orange': 2000}

In [57]:
mart = {'라면': 1200, '음료수':1500, '과자': 800}
mart['삼각김밥'] = 1700
mart

{'라면': 1200, '음료수': 1500, '과자': 800, '삼각김밥': 1700}

- 항목 추가와 메소드

In [59]:
mart['과자'] = 900
mart

{'라면': 1200, '음료수': 1500, '과자': 900, '삼각김밥': 1700}

In [61]:
mart.keys()

dict_keys(['라면', '음료수', '과자', '삼각김밥'])

In [62]:
mart.values()

dict_values([1200, 1500, 900, 1700])

In [63]:
mart.items()

dict_items([('라면', 1200), ('음료수', 1500), ('과자', 900), ('삼각김밥', 1700)])

# 튜플과 집합

In [64]:
tp1 = 1,2,3
tp2 = (10, 20, 30)
print(tp1, tp2)

(1, 2, 3) (10, 20, 30)

In [65]:
tp3 = tuple((10, 20, 30))
tp4 = tuple(['py', 'R'])
print(tp3, tp4)

(10, 20, 30) ('py', 'R')

In [66]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
concatenated_tuple = tuple1 + tuple2 #튜플은 불변성을 가지고 있어 추가. 삭제, 수정등의 연산은 지원되지 않으나 튜프간의 연결 또는 반복은 가능하다.
concatenated_tuple

(1, 2, 3, 4, 5, 6)

- 집합 개요와 활용

In [68]:
basket = {'apple', 'orange', 'apple', 'pear'} #집합은 중복은 허용하지 않으나 집합 원소의 수정이나 삭제는 허용한다.
basket

{'apple', 'orange', 'pear'}

In [69]:
len(basket)

3

In [70]:
print('grape' in basket)
print('apple' in basket)

False
True

In [71]:
A = {1,2,3,4}
B = {3,4,5,6,7}
print(A.union(B)) #합집합
print(A.intersection(B)) #교집합
print(A.difference(B)) #차집합
print(B.difference(A)) #차집합
print(A.symmetric_difference(B)) #여집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [72]:
A = {1,2,3,4}
B = {3,4,5,6,7}
print(A | B) #합집합
print(A & B) #교집합
print(A - B) #차집합
print(B - A) #차집합
print(A ^ B) #여집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [73]:
basket = {'apple', 'orange', 'apple', 'pear'}
basket.add('banana')
basket

{'apple', 'banana', 'orange', 'pear'}

In [76]:
myset = {0}
myset.add((1, 2))
myset

{(1, 2), 0}

In [77]:
myset.remove(0)
myset

{(1, 2)}

- 수정불가능 immutable과 함수 hash() id()

In [79]:
print(hash([1, 2, 3]))

TypeError: unhashable type: 'list'

In [80]:
print(hash({'one': 1}))

TypeError: unhashable type: 'dict'

In [81]:
print(hash('py'), hash((1,2)))

-2032032059983120725 -3550055125485641917

In [82]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [83]:
x, y = 10, 10
print(id(x), id(y))

140736732220120 140736732220120