In [1]:
import matplotlib as mpl
print(mpl.__version__)

import numpy as np
print(np.__version__)

%config InlineBackend.figure_format = 'retina'

import matplotlib.pyplot as plt

plt.rc('font', family='Malgun Gothic')
plt.rcParams['font.family'] ='Malgun Gothic'
plt.rc('axes', unicode_minus=False)
plt.rcParams['axes.unicode_minus'] = False

import pandas as pd
import numpy as np

3.8.4
1.26.4

In [3]:
import pandas as pd

index = pd.date_range('2024-12-1', periods=8)
index

DatetimeIndex(['2024-12-01', '2024-12-02', '2024-12-03', '2024-12-04',
               '2024-12-05', '2024-12-06', '2024-12-07', '2024-12-08'],
              dtype='datetime64[ns]', freq='D')

In [7]:
index = pd.date_range('2024-12-1', periods=8)
df =  pd.DataFrame(np.random.rand(8,3), index=index, columns= list('ABC'))
df

                   A         B         C
2024-12-01  0.122597  0.429130  0.462301
2024-12-02  0.881520  0.055056  0.011680
2024-12-03  0.640733  0.281267  0.674983
2024-12-04  0.869241  0.413887  0.383628
2024-12-05  0.231445  0.286581  0.710250
2024-12-06  0.493422  0.965491  0.642504
2024-12-07  0.696211  0.688713  0.085245
2024-12-08  0.788984  0.434937  0.713775

In [8]:
index = pd.date_range('2024-12-1', periods=8)
df =  pd.DataFrame(np.random.rand(8,3), index=index, columns= list('BCA'))
df

                   B         C         A
2024-12-01  0.462169  0.465803  0.051208
2024-12-02  0.473864  0.012989  0.912426
2024-12-03  0.905779  0.760887  0.569244
2024-12-04  0.912977  0.654406  0.452818
2024-12-05  0.561244  0.843249  0.539478
2024-12-06  0.707130  0.423469  0.210084
2024-12-07  0.983370  0.607497  0.584526
2024-12-08  0.231268  0.584255  0.541846

In [9]:
df['B']

2024-12-01    0.462169
2024-12-02    0.473864
2024-12-03    0.905779
2024-12-04    0.912977
2024-12-05    0.561244
2024-12-06    0.707130
2024-12-07    0.983370
2024-12-08    0.231268
Freq: D, Name: B, dtype: float64

In [10]:
df['B'][0]

C:\Users\109-1\AppData\Local\Temp\ipykernel_2180\2498547084.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['B'][0]

0.4621690588263937

In [15]:
index = pd.date_range('2024-12-1', periods=8)

df = pd.DataFrame(np.random.rand(8,3), index=index, columns=['A', 'B', 'C'])
print(df['B'] > 0.4)

2024-12-01     True
2024-12-02    False
2024-12-03    False
2024-12-04     True
2024-12-05     True
2024-12-06     True
2024-12-07    False
2024-12-08     True
Freq: D, Name: B, dtype: bool

In [ ]:
index = pd.date_range('2024-12-1', periods=8)

df = pd.DataFrame(np.random.rand(8,3), index=index, columns=['A', 'B', 'C'])
print(df['B'] > 0.4)

In [ ]:

난수
choice, hist
데이터프레임
제주도 age, 색상지정